<div class="sidebar">
  <div class="logo">
    <h2>EMS</h2>
  </div>

  <ul class="nav-links">
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">
        <span>🏠</span>
        <p>Dashboard</p>
      </a>
    </li>

    <li>
      <a routerLink="/employee" routerLinkActive="active">
        <span>👨‍💼</span>
        <p>Employees</p>
      </a>
    </li>

    <li>
      <a routerLink="/leave" routerLinkActive="active">
        <span>➕</span>
        <p>Leave  </p>
      </a>
    </li>

    <li>
      <a routerLink="/departments" routerLinkActive="active">
        <span>🏢</span>
        <p>Report</p>
      </a>
    </li>

    <li>
      <a routerLink="/settings" routerLinkActive="active">
        <span>⚙️</span>
        <p>Settings</p>
      </a>
    </li>

    <li class="logout">
      <a (click)="logout()" )>
        <span>🚪</span>
        <p>Logout</p>
      </a>
    </li>
  </ul>
</div>


<router-outlet></router-outlet>
