/*.login-container {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  height: 100vh;*/
/*  background-color: #f4f4f4;*/
/*}*/

/*.login-card {*/
/*  background: white;*/
/*  padding: 25px;*/
/*  width: 350px;*/
/*  border-radius: 10px;*/
/*  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);*/
/*  text-align: center;*/
/*}*/

/*h2 {*/
/*  margin-bottom: 20px;*/
/*}*/

/*.form-group {*/
/*  margin-bottom: 15px;*/
/*  text-align: left;*/
/*}*/

/*label {*/
/*  display: block;*/
/*  margin-bottom: 5px;*/
/*  font-weight: bold;*/
/*}*/

/*input {*/
/*  width: 100%;*/
/*  padding: 8px;*/
/*  border: 1px solid #ccc;*/
/*  border-radius: 5px;*/
/*}*/

/*button {*/
/*  width: 100%;*/
/*  padding: 10px;*/
/*  background-color: #007bff;*/
/*  color: white;*/
/*  border: none;*/
/*  border-radius: 5px;*/
/*  cursor: pointer;*/
/*  margin-top: 10px;*/
/*}*/

/*button:hover {*/
/*  background-color: #0056b3;*/
/*}*/

/*.register-text {*/
/*  margin-top: 10px;*/
/*  font-size: 14px;*/
/*}*/


/* Full background */
.login-wrapper {
  height: 100vh;
  width: 100%;
  background: linear-gradient(90deg, #ff2d55, #7b2ff7, #007aff);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

/* Login box */
.login-card {
  width: 380px;
  padding: 40px 35px;
  background: #111;
  border-radius: 6px;
  text-align: center;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}

/* Title */
.login-card h2 {
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 8px;
}

/* Subtitle */
.subtitle {
  color: #9ca3af;
  font-size: 14px;
  margin-bottom: 30px;
}

/* Inputs */
.login-card input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 18px;
  background: transparent;
  border-radius: 25px;
  border: 2px solid #38bdf8;
  color: #fff;
  outline: none;
  font-size: 14px;
}

.login-card input::placeholder {
  color: #9ca3af;
}

/* Forgot password */
.forgot {
  display: block;
  color: #9ca3af;
  font-size: 13px;
  margin-bottom: 25px;
  text-decoration: none;
}

.forgot:hover {
  text-decoration: underline;
}

/* Login button */
.login-btn {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: 2px solid #22c55e;
  background: transparent;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-btn:hover {
  background: #22c55e;
  color: #000;
}

/* Social icons */
.social {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social span {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #9ca3af;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}

.social span:hover {
  background: #fff;
  color: #000;
}
